services:
    franken:
        build:
            context: .
        volumes:
            - type: bind
              source: ./.env
              target: /app/.env
            - ./storage:/app/storage
            - public:/app/public
        restart: always
        working_dir: /app
        networks:
            - traefik
        
        environment:
            - "SERVER_NAME=:80"
        healthcheck:
            test: curl --fail http://localhost || exit 1
            interval: 30s
            timeout: 10s
            retries: 5
        labels:
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.wordpress.rule=Host(`trouvetatable.fr`)"
            - "traefik.http.routers.wordpress.entrypoints=websecure"
            - "traefik.http.routers.wordpress.tls=true"
            - "traefik.http.routers.wordpress.tls.certresolver=myresolver"
        depends_on:
            mysql:
                condition: service_healthy
        # ports:
        #     - "8000:8000"

    mysql:
        image: mysql:8.0
        restart: always
        environment:
            - MYSQL_DATABASE=vigilant
            - MYSQL_ROOT_PASSWORD=password
        volumes:
            - database:/var/lib/mysql
        networks:
            - traefik
        healthcheck:
            test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
            interval: 10s
            timeout: 20s
            retries: 10


    redis:
        image: redis:7
        volumes:
            - redis:/data
        networks:
            - vigilant
        healthcheck:
            test: [ "CMD", "redis-cli", "ping" ]
        depends_on:
            - traefik

networks:
    traefik:
        external: true

volumes:
    public:
    database:
    redis: