services:
    franken:
        build:
            context: .
        volumes:
            - type: bind
              source: ./.env
              target: /app/.env
            - ./storage:/app/storage
            - public:/app/public
        restart: always
        working_dir: /app
        networks:
            - vigilant
        
        # environment:
        #     - "SERVER_NAME=:80"
        # healthcheck:
        #     test: curl --fail http://localhost || exit 1
        #     interval: 30s
        #     timeout: 10s
        #     retries: 5
        labels:
            - "traefik.http.routers.franken.rule=Host(`franken.localhost`)"
        depends_on:
            mysql:
                condition: service_healthy
            traefik:
                condition: service_started
        # ports:
        #     - "8000:8000"

    mysql:
        image: mysql:8.0
        restart: always
        environment:
            - MYSQL_DATABASE=vigilant
            - MYSQL_ROOT_PASSWORD=password
        volumes:
            - database:/var/lib/mysql
        networks:
            - vigilant
        healthcheck:
            test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
            interval: 10s
            timeout: 20s
            retries: 10
        labels:
            - "traefik.http.routers.mysql.rule=Host(`mysql.local`)"

    redis:
        image: redis:7
        volumes:
            - redis:/data
        networks:
            - vigilant
        healthcheck:
            test: [ "CMD", "redis-cli", "ping" ]
        depends_on:
            - traefik

    traefik:
        image: traefik:v3.0
        restart: unless-stopped
        command: >-
            --entryPoints.web.address=:80
            --entryPoints.web.http.redirections.entrypoint.to=web-secure
            --entryPoints.web.http.redirections.entrypoint.scheme=https
            --entryPoints.web-secure.address=:443
            --api=true
            --api.dashboard=true
            --providers.docker=true
            --providers.docker.exposedByDefault=false
            --providers.file.directory=/srv/configs
            --providers.file.watch=true
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - ./traefik:/srv
        labels:
            - traefik.enable=true
            - traefik.http.routers.traefik.rule=Host(`traefik.localhost`)
            - traefik.http.routers.traefik.service=api@internal
            - traefik.http.routers.traefik.tls=true
            - traefik.http.services.traefik.loadBalancer.server.port=8080

networks:
    vigilant:

volumes:
    public:
    database:
    redis: